
<nav class="navbar navbar-inverse navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hong</a>
    </div>
    <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="auth/login" id="login">Login</a>
      </li>
      <!-- <li *ngIf="authority" class="nav-item">
        <a class="nav-link" routerLink="auth/logout">Log Out</a>
      </li> -->
      <li class="nav-item" style="cursor: pointer" id="logout">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>